<main class="container d-flex flex-column align-items-center">
    <section class="w-50">
        <h1 class="p-2 text-center text-primary w-100">PRODUCT FORM</h1>
        <form id="productForm" class="d-flex flex-column w-100 m-3">
            <input class="m-2 p-2 text-center" type="text" name="title" id="title" placeholder="Product Name" required />
            <input class="m-2 p-2 text-center" type="number" name="price" id="price" placeholder="Price" required />
            <input class="m-2 p-2 text-center" type="number" name="stock" id="stock" placeholder="Stock" required />
            <input class="m-2 p-2 text-center" type="text" name="category" id="category" placeholder="Category" required />
            <input class="m-2 p-2 text-center" type="text" name="thumbnails" id="thumbnails" placeholder="Image URL" />
            <button type="submit" class="m-2 p-2 text-center btn btn-primary">ADD PRODUCT</button>
        </form>
    </section>

    <section id="products" class="d-flex flex-wrap justify-content-center w-100 mt-4 gap-4">
        
    </section>
</main>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="./scripts/realProducts.js"></script>
